// mobile breakpoint 600px
@media (max-width: 600px) {
  #book-list-panel {
    flex-direction: column;

    .book-list {
      border: #999 solid 1px;
      border-radius: var(--border-radius);
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }
  }

  #filter-panel {
    flex-direction: column-reverse;
    align-items: center;
  }
}
